.profile {
  padding-top: 15px;
  margin-bottom: 30px;
  text-align: center;
}

.description {
  font-size: 25px;
  color: gray;
}

.description p {
  margin-bottom: 10px;
}

.avatar {
  width: 250px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.name {
  margin-bottom: 20px;
  color: black;
}

.stats {
  display: flex;
  justify-content: center;
  margin: 0;
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: rgb(207, 205, 205);
  border: 1px solid rgb(133, 131, 131);
}

.items:not(:last-child) {
  border-right: 0;
}
